<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    </h:head>
    <h:body>
        <h:form>
            <p:menubar>
                <p:menuitem value="Início" icon="ui-icon-home" url="index.xhtml"/>

                <p:submenu label="Cadastrar" icon="ui-icon-circle-plus">
                    <p:menuitem value="Carro"/>
                    <p:menuitem value="Marca"/>
                    <p:menuitem value="Modelo"/>
                </p:submenu>

                <p:submenu label="Buscar" icon="ui-icon-search">
                    <p:menuitem value="Carro"/>
                    <p:menuitem value="Marca"/>
                    <p:menuitem value="Modelo"/>
                </p:submenu>
            </p:menubar>
        </h:form>
    </h:body>
</html>

