<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="css" name="rodape.css"/>
    </h:head>
    <h:body>
        <div id="div-rodape">
            <span id="span-img">
                <p:graphicImage id="img-rodape"
                                library="img" name="lamborghini-logo.png"/>
            </span>

            <span id="span-txt-rodape">
                <h:outputText value="Desenvolvido por:"/>
                <br/>
                <h:outputText value="Édylle Landy e Weslley Tavares"/>
            </span>
        </div>
    </h:body>
</html>

