<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>
            <ui:insert name="pageTitle">Automóveis</ui:insert>
        </title>
        <h:outputStylesheet library="css" name="template.css"/>
    </h:head>
    
    <h:body>
        <div id="topo">
            <ui:insert name="topo">
                <ui:include src="/WEB-INF/template/topo.xhtml"/>
            </ui:insert>
        </div>

        <div id="menu">
            <ui:include src="/WEB-INF/template/menu.xhtml"/>
        </div>

        <div id="body">
            <ui:insert name="body"/>
        </div>

        <div id="rodape">
            <ui:include src="/WEB-INF/template/rodape.xhtml"/>
        </div>
    </h:body>
</html>

