@charset "UTF-8";

#div-rodape {
    width: 100%;
    height: 100px;
    background-color: #000;
}

#span-img {
    width: 40%;
    height: 100%;
    text-align: center;
    margin-left: 550px;
}

#img-rodape {
    height: 100%;
}

#span-txt-rodape {
    margin-top: 50px;
    float: right;
    width: 300px;
    color: white;
    font-family: "Arial", Georgia, sans-serif;
}