<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="body">
        
        <div>
            
        </div>
        
    </ui:define>
</ui:composition>

